@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Reenie Beanie", cursive;
    font-weight: 400;
    font-style: normal;
}

/* for markdown */
.review h3{
    font-weight: bold;
}